@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.navbar {
    position: fixed;
    width: 100%;
    background: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  /* } */
.navbar.logo a {
    color: aliceblue;
    font-size: 35px;
    font-weight: 600;
}

.navbar.menu li {
    list-style: none;
    display:inline-BLO;
}

.navbar .menu li a {
    color: aliceblue;
}